footer {background-color: azure;
}
header {background-color: azure; margin-left: 10%; font-size: 180%;
}
footer {font-size: 120%; margin-left: 20%;
}
body {background-color: azure;
}
main {background-color: azure; margin-left: 20%;
}